:root {
  --color-text: #000;
  --color-text-muted: #6b6b6b;
  --color-white: #fff;
  --color-background: #f8f9fa;
  --color-surface: #212529;
  --color-decor-primary: #adff2f;
  --color-decor-secondary: #dda0dd;
  --color-gray-300: #c6c6c8;
}
